* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 65, 2%;
}

/*Variables - colores*/
$primary-color: rgb(194, 104, 104);
$secondary-color: rgb(230, 151, 164);
$tertiary-color: rgb(166, 119, 219);


/*Variables - Tipografia - Fuentes, tamaño*/
$t-fuente-1: 1.2rem;
$t-fuente-2: 1.5rem;
$t-fuente_3: 3rem;
$gudea-font-family: "Gudea", serif;


/*Variables - Height y Width*/
$width-1: 100%;
$heigth-1: 100vh;


/*Variables - Padding y Margin*/
$padding-1: 15px;
$margin-1: auto;
$margin-2: 100px;


/*Variables - Filas y Columnas*/
$row-1: auto;
$row-2: 100px;
$column-1: auto;
$column-2: 100px;

/*Variables - condicionales*/
$vista: mobile;
$desktop: 1024px;

/*Mixin sin parametros*/
@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Mixin con parametros*/
@mixin gap($row,$column) {
    row-gap: $row;
    column-gap: $column;
}