/*---------- Titulos - Parrafos ----------*/
.intro {
    h1 {
        text-align: center;
        font-size: $t-fuente_3 + 1rem;
        color: $secondary-color;
    }
}

.beneficios {
    h1 {
        text-align: center;
        font-size: $t-fuente_3;
        padding: $padding-1;
        color: $primary-color;
        margin-top: $margin-2 - 70px;
    }

    p {
        text-align: center;
        font-size: $t-fuente-1;
    }

}

h2 {
    @include flex-row-center;
    font-size: $t-fuente_3 - 1rem;
    color: $tertiary-color;
}

.yoga {
    .cuerpo {
        p {
            font-size: $t-fuente-1;
        }
    }

    .mente {
        p {
            font-size: $t-fuente-1;
        }
    }
}

.estilos {
    h1 {
        text-align: center;
        font-size: $t-fuente_3;
        padding: 5px;
        color: $primary-color;
    }

    p {
        text-align: center;
        font-size: $t-fuente-1;
    }
}

.consultas {
    h1 {
        text-align: center;
        font-size: $t-fuente_3;
        margin-top: $margin-2 - 75px;
        color: $primary-color;
    }

    p {
        text-align: center;
        font-size: $t-fuente-2;
    }
}


p {
    font-size: $t-fuente-1;
    font-family: $gudea-font-family;
    padding: $padding-1;
}

.ubicacion {
    p {
        @include flex-row-center;
        font-size: $t-fuente-2;
        margin-top: $margin-2 - 90px;
    }
}

.sobre-mi {
    p {
        font-size: $t-fuente-1;
    }
}

/*---------- Imagenes ----------*/
.imagenes {
    padding: $padding-1;
}


/*---------- Contacto ----------*/
.formulario {
    margin: $margin-2 - 80px;
}

.mapa {
    @include flex-row-center;
}