/*---------- Estructura Grid HTML Index - Inicio ----------*/
.grid-container {
    display: grid;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "intro intro intro intro intro intro logo logo logo logo logo logo"
        "sobre-mi sobre-mi sobre-mi sobre-mi sobre-mi sobre-mi sobre-mi sobre-mi sobre-mi sobre-mi sobre-mi sobre-mi"
        "imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: $row-2 + 25px;
    column-gap: $column-2;
    height: $heigth-1;
}

header {
    grid-area: header;
}

.intro {
    grid-area: intro;
    text-align: center;
    margin: $margin-1;
}

.logo {
    grid-area: logo;
    @include flex-row-center;
}

.sobre-mi {
    grid-area: sobre-mi;
    text-align: center;
    margin: $margin-1;
}

.imagenes {
    grid-area: imagenes;
}

footer {
    grid-area: footer;
}


/*---------- Estructura Grid HTML - Beneficios ----------*/
.grid-container2 {
    display: grid;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "beneficios beneficios beneficios beneficios beneficios beneficios beneficios beneficios beneficios beneficios beneficios beneficios"
        "yoga yoga yoga yoga yoga yoga yoga yoga yoga yoga yoga yoga"
        "cuerpo cuerpo cuerpo cuerpo cuerpo cuerpo cuerpo cuerpo cuerpo cuerpo cuerpo cuerpo"
        "mente mente mente mente mente mente mente mente mente mente mente mente"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    row-gap: $row-2 - 50px;
    column-gap: $column-2;
    height: $heigth-1;
}

header {
    grid-area: header;
}

.beneficios {
    grid-area: beneficios;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.yoga {
    grid-area: yoga;
}

.cuerpo {
    grid-area: cuerpo;
    font-size: $t-fuente-1;
}

.mente {
    grid-area: mente;
    font-size: $t-fuente-1;
}

footer {
    grid-area: footer;
}


/*---------- Estructura Grid HTML - Estilos ----------*/
.grid-container3 {
    display: grid;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "estilos estilos estilos estilos estilos estilos estilos estilos estilos estilos estilos estilos"
        "clases clases clases clases clases clases clases clases clases clases clases clases"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    row-gap: $row-1;
    column-gap: $column-2 - 90px;
}

.header {
    grid-area: header;
}


.estilos {
    grid-area: estilos;

    .estilos-titulo {
        margin-top: $margin-2 - 20px;
    }
}

.clases {
    grid-area: clases;
}

footer {
    grid-area: footer;
}


/*---------- Estructura Grid HTML - Horarios ----------*/
.grid-container4 {
    display: grid;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "horarios horarios horarios horarios horarios horarios horarios horarios horarios horarios horarios horarios"
        "table table table table table table table table table table table table"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    @include gap($row-2,$column-2);
    height: $heigth-1;
}

header {
    grid-area: header;
}

.horarios {
    grid-area: horarios;
}

footer {
    grid-area: footer;
}

.table {
    margin-top: 10%;
    text-align: center;
    font-size: $t-fuente-2;
}


/*---------- Estructura Grid HTML - Contacto ----------*/
.grid-container5 {
    display: grid;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "consultas consultas consultas consultas consultas consultas consultas consultas consultas consultas consultas consultas"
        "formulario formulario formulario formulario formulario formulario formulario formulario formulario formulario formulario formulario"
        "ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    @include gap($row-2 - 75px, $column-2);
    height: $heigth-1;
}

header {
    grid-area: header;
}

.consultas {
    grid-area: consultas;
    margin-top: 5%;
    padding: 10px;
}

.formulario {
    grid-area: formulario;
}

.ubicacion {
    grid-area: ubicacion;
}

footer {
    grid-area: footer;
}