/*Condicionales*/

/*---------- Media Queries HTML Index - Inicio ----------*/

.grid-container {
    @if $vista == $desktop {
        @media screen and (min-width: 769px) and (max-width: 1024px) {
            display: grid;
            grid-template-areas:
                "header header header header header header header header"
                "intro intro intro intro intro intro intro intro"
                "logo logo logo logo logo logo logo logo"
                "sobre-mi sobre-mi sobre-mi sobre-mi sobre-mi sobre-mi sobre-mi sobre-mi"
                "imagenes imagenes imagenes imagenes imagenes imagenes imagenes imagenes"
                "footer footer footer footer footer footer footer footer";
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(6, 1fr);
            width: $width-1;
    
            .logo {
                width: auto;
                 display: flex;
                 flex-direction: column;
                justify-items: flex-start;
            }
    
            .intro {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

        }
    }

    @else if $vista == mobile {
        @media only screen and (max-width: 768px) {
            display: grid;
            grid-template-areas:
                "header header header"
                "intro intro intro"
                "logo logo logo"
                "sobre-mi sobre-mi sobre-mi"
                "imagenes imagenes imagenes"
                "footer footer footer";
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, 1fr);
            width: $width-1;
        
            .logo {
                width: auto;
                display: flex;
                flex-direction: column;
                justify-items: flex-start;
            }
        
            .intro {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
    
                h1 {
                    font-size: $t-fuente_3;
                }
            }
        }
    }
}


/*---------- Media Queries HTML - Beneficios ----------*/
.grid-container2 {
    @if $vista == $desktop {
        @media screen and (min-width:769px) and (max-width:1024px) {
            display: grid;
            grid-template-areas:
                "header header header header header header"
                "beneficios beneficios beneficios beneficios beneficios beneficios"
                "yoga yoga yoga yoga yoga yoga"
                "cuerpo cuerpo cuerpo cuerpo cuerpo cuerpo"
                "mente mente mente mente mente mente"
                "footer footer footer footer footer footer";
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, auto);
            column-gap: normal;
            width: $width-1;
        }
    }
    
    @else if $vista == mobile {
        @media only screen and (max-width: 768px) {
            display: grid;
            grid-template-areas:
                "header header header "
                "beneficios beneficios beneficios"
                "yoga yoga yoga yoga"
                "cuerpo cuerpo cuerpo"
                "mente mente mente"
                "footer footer footer";
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, auto);
            column-gap: normal;
            width: $width-1;
        }
    }
}


/*---------- Media Queries HTML - Estilos ----------*/
.grid-container3 {
    @if $vista == $desktop {
        @media screen and (min-width:769px) and (max-width:1024px) {
            display: grid;
            grid-template-areas:
                "header header header header header header header header"
                "estilos estilos estilos estilos estilos estilos estilos estilos"
                "clases clases clases clases clases clases clases clases"
                "footer footer footer footer footer footer footer footer";
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(4, auto);
            row-gap: $row-1;
            column-gap: $column-1;
        }
    }

    @else if $vista == mobile {
        @media only screen and (max-width: 768px) {
            display: grid;
            grid-template-areas:
                "header header header"
                "estilos estilos estilos"
                "clases clases clases"
                "footer footer footer";
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, auto);
            row-gap: $row-1;
            column-gap: $column-2 - 90px;
        }
    }
}


/*---------- Media Queries HTML - Horarios ----------*/
.grid-container4 {
    @if $vista == mobile {
        @media only screen and (max-width: 768px) {
            display: grid;
            grid-template-areas:
                "header header header header"
                "horarios horarios horarios horarios"
                "table table table table"
                "footer footer footer footer";
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, auto);
            row-gap: $row-1;
            column-gap: $column-1;
            height: $heigth-1;
        }    
    }
}


/*---------- Media Queries HTML - Contacto ----------*/
.grid-container5 {
    @if $vista == $desktop {
        @media screen and (min-width:769px) and (max-width:1024px) {
            display: grid;
            grid-template-areas:
                "header header header header header header header header"
                "consultas consultas consultas consultas consultas consultas consultas consultas"
                "formulario formulario formulario formulario formulario formulario formulario formulario"
                "ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion"
                "footer footer footer footer footer footer footer footer";
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(5, auto);
            row-gap: $row-1;
            column-gap: $column-1;
            height: $heigth-1;
        }
    } 

    @else if $vista == mobile {
        @media only screen and (max-width: 768px) {
            display: grid;
            grid-template-areas:
                "header header header"
                "consultas consultas consultas"
                "formulario formulario formulario"
                "ubicacion ubicacion ubicacion"
                "footer footer footer";
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, auto);
            row-gap: $row-1;
            column-gap: $column-1;
            height: $heigth-1;

            .consultas {
                h1 {
                    padding: 10px;
                }
            }
        }
    } 
}

